
.leaflet-map-pane {
    z-index: 2 !important;
}

.leaflet-google-layer {
    z-index: 1 !important;
}

.pathHidden {
    display:none;
}

.animated-polyline {
        stroke-dasharray: 5 5;
	animation: dash 6s infinite linear;
	-ms-animation: dash 6s infinite linear;
	-moz-animation: dash 6s infinite linear;
	-o-animation: dash 6s infinite linear;
	-webkit-animation-name: dash;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.offset-polyline	{ transform: translate(5px, 5px); }
.no-offset-polyline	{ transform: none; }
@keyframes dash			{ to { stroke-dashoffset: -100; } }
@-webkit-keyframes dash	{ to { stroke-dashoffset: -100; } }
@-moz-keyframes dash	{ to { stroke-dashoffset: -100; } }
@-ms-keyframes dash		{ to { stroke-dashoffset: -100; } }
@-o-keyframes dash		{ to { stroke-dashoffset: -100; } }


.map-cluster {
  
  width:32px;
  height:32px;
  border-radius:20px;
  text-align:center;
  position:relative;
  
}

.map-cluster > img {
  width:32px;
  height:32px;
  position:absolute;
  left:-1px;
  top:-1px;
}

.map-cluster > b {
  position:absolute;
  background-color:rgb(50,50,50);
  color:silver;
  padding:1px;
  min-width:17px;
  font-size:10px;
  font-weight:bold;
  bottom:-2px;
  right:-2px;
  border-radius:5px;
}

.leaflet-div-icon {
    border-style:none !important;
    background-color:transparent !important;
}