.table {
    width: 100%;
}

.table thead, .table tbody,.table  tr, .table td, .table th { display: block; }

.table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table thead th {
    height: 60px;

    /*text-align: left;*/
}

.table tbody {
    height: 750px;
    overflow-y: auto;
}

.table thead {
    /* fallback */
}


.table tbody td,.table thead th {

    float: left;
}

.table th, .table td {
    width: 75px;
}

.table th:nth-child(1), .table td:nth-child(1) {
    width: 260px;
}
.table th:last-child,.table td:last-child {
    width:inherit;
}